.recipes.bg-grey
.center
  = form_with url: search_recipes_path, method: :post, local: true do |form|
    = form.text_field :search, placeholder: 'Search'
    = form.submit 'Search'
  %h1 Recipes
  %p= link_to 'New Recipe', new_recipe_path

  - @recipes.each do |recipe|
    .recipe
      %h3= link_to recipe.title, recipe_path(recipe)
      %p= recipe.description
      %p
        Posted by:
        = mail_to recipe.user.email
