.wrapper
  .navbar
    - if user_signed_in?
      .links
        = link_to "Logged in as: #{current_user.email}", root_path
        %button.mybutton
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
    - else
      .links
        %button.mybutton
          = link_to 'Sign Up', new_user_registration_path
        %button.mybutton
          = link_to 'Login', new_user_session_path
        %button.mybutton
          = link_to 'Login with Facebook', user_facebook_omniauth_authorize_path
